<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BerkeÖztürkBlogWebsite</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BlogWebSite.styles.css" asp-append-version="true" />
    <style>
        body{
            background-color:#03001C;
        }
        h1,h6,h2,h3,h4,h5,i,button,input,a,hr{
            color: #B6EADA
        }
        p{
            color:#5B8FB9
        }
        

    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header style="color:#B6EADA">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="display-4" style="font-size:45px;text-decoration:none;color:inherit;" asp-area="" asp-controller="Home" asp-action="Index">Weapfrog </a>&nbsp;&nbsp;&nbsp;
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a style="text-decoration:none;color:inherit;" class="display-6" asp-area="" asp-controller="Home" asp-action="Index">Home</a>&nbsp;&nbsp;&nbsp;
                        </li>
                        <li class="nav-item">
                            <a style="text-decoration:none;color:inherit;" class="display-6" asp-area="" asp-controller="Post" asp-action="Index">Posts</a>&nbsp;&nbsp;&nbsp;
                        </li>
                        @if(ViewBag.Username != null)
                        {
                            <li class="nav-item">
                                <a style="text-decoration:none;color:inherit;" class="display-6" asp-area="" asp-controller="AddPost" asp-action="NewPost">NewPost</a>&nbsp;&nbsp;&nbsp;
                            </li>
                            
                        }
                        <li class="nav-item">
                            <a style="text-decoration:none;color:inherit;" class="display-6" asp-area="" asp-controller="SearchPost" asp-action="Index">Search</a>&nbsp;&nbsp;&nbsp;
                        </li>
                        @if(ViewBag.Username == null)
                        {
                        <li class="nav-item">
                            <a style="text-decoration:none;color:inherit" class="display-6" asp-area="" asp-controller="Login" asp-action="Login">Login</a>
                        </li>
                        }
                    </ul>
                    @if(ViewBag.Username != null){
                        <a style="text-decoration:none;color:inherit;text-align:right;" class="display-6" asp-area="" asp-controller="Profile" asp-action="Index">@ViewBag.Username&nbsp;&nabla;&nbsp;</a>
                        <a style="text-decoration:none;color:inherit;text-align:right;" class="display-6" asp-area="" asp-controller="Login" asp-action="LogOut">Logout</a>
                    }
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="text-center">
            <a href="https://www.github.com/Weapfrog" style="text-decoration:none;" target="_blank"><i class="fa fa-github" style="font-size:35px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/berkeozturk7/" style="text-decoration:none;" target="_blank"><i class="fa fa-linkedin-square" style="font-size:35px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="mailto:muzgash_berke@hotmail.com" style="text-decoration:none;" target="_blank"><i class="fa fa-envelope" style="font-size:35px"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="tel:+905320683566" style="text-decoration:none;" target="_blank"><i class="fa fa-phone" style="font-size:35px"></i></a>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
