@{
    ViewData["Title"] = "CV Page";
}

<div class="text-center">

    <img src="https://i.imgur.com/hLewNYv.png" alt="CV_Picture" width="250" height="250" /><br /><br />
    <h1 class="display-4">MUHAMMET BERKE ÖZTÜRK</h1>
    <h1 class="display-6">Computer Engineer</h1>
</div>
<div class="text-left">
    <h1 class="display-7">Profile</h1>
    <hr />
    <p>Recent graduated computer 
engineer, always trying to learn about 
new technologies, solve problems and 
building projects.
I have worked mostly AI technologies 
with Image Processing in it and Web 
Development. I was worked on UAV 
detection and tracking algorithms for 
Teknofest Insansız Hava Aracı 
competition and neuron detection 
and tracking with Yolo algorithms for 
an AI article in Spain. 
I can describe myself as a hardworking 
and easy-going associate.</p>
</div>
<div class="text-left">
    <h1 class="display-7">Education</h1><hr />
    <p>Zonguldak Bülent Ecevit University | Computer Engineering | 2017/2022</p>
    <p>GPA:3,08</p>
</div>
<div class="text-left">
    <h1 class="display-7">Experience</h1><hr />
    <h6>Soft Robotics Inc. – Software Developer Intern</h6>
    <h6>2023</h6>
    <p>
        ® Desktop Development with WFA, C# and .NET CORE<br />
        ® Front-end and Back-end development via JavaScript and C#.<br />
        ® Developing SQL query structures and connections with app.
    </p>
    <h6>Universitad de Oviedo - AI Intern</h6>
    <h6>2022</h6>
    <p>
        ® Image Processing model creations with Yolov4 and Machine Learning Algorithms.<br />
        ® Object Detection with Tensorflow and PyTorch.<br />
        ® Developing tracking algorithms and writing articles about it.
    </p>
    <h6>Soulfly Aerospace Team - Software Developer Team Lead</h6>
    <h6>2021/2022</h6>
    <p>
        ® School based Project for Teknofest Savaşan İnsansız Hava Aracı competition.<br />
        ® Object detection and tracking with Python, OpenCV and Yolo algorithms.<br />
        ® Developing desktop programmes for tracking the UAV.
    </p>
    <h6>INNOVA IT Solutions - Web Developer Intern</h6>
    <h6>2021</h6>
    <p>
        ® Web Development with ASP .NET MVC.<br />
        ® Front-end and Back-end development via JavaScript.<br />
        ® Database connections with SQL and EntityFramework.
    </p>
</div>
<div class="text-left">
    <h1 class="display-7">Skills</h1><hr />
    <img src="https://i.imgur.com/bqhFTHi.png" alt="CV_Skills" />
</div>
<div class="text-left">
    <h1 class="display-7">Projects and Certificates</h1><hr />
    <p>
        ® Object detection and tracking in UAV’s with image processing<br />
        ® Soulfly Bird<br />
        ® The Social Media<br />
        ® CafeApplication<br />
        ® Student and Lecturer information system<br />
        ® Neuron Detection algorithms with Yolo<br />
        ® Deppresion Coach<br /><br />

        ® 2020 Solution Challenge Certificate<br />
        ® GCP Essentials / Google
    </p>
</div>
<div class="text-left">
    <h1 class="display-7">Contact</h1><hr />
    <i class="fa fa-phone"><a href="tel:+905320683566" style="text-decoration:none;font-size:20px;" > +90 532 068 3566</a></i><br />
    <i class="fa fa-envelope"><a href="mailto:muzgash_berke@hotmail.com" style="text-decoration:none;font-size:20px;"> muzgash_berke@hotmail.com</a></i><br />
    <i class="fa fa-github"><a href="https://www.github.com/Weapfrog" style="text-decoration:none;font-size:20px;" target="_blank"> www.github.com/Weapfrog</a></i><br />
    <i class="fa fa-linkedin-square"><a href="https://www.linkedin.com/in/berkeozturk7/" style="text-decoration:none;font-size:20px;" target="_blank"> www.linkedin.com/in/berkeozturk7</a></i><br />
</div>